{% extends 'base.html' %}

{% block title %}
    About Us!
{% endblock %}

{% block content %}

<div class="container div-f" style="text-align:justify">
    <div class="container"><br>
        <div style="font-family:Times New Roman"> <h1 style="text-align:center">Welcome to<br> Jahangir Basar Memorial Virtual Hospital</h1> </div>

        <p>Medicine is the science and practice of caring for a patient, managing the diagnosis, prognosis,
            prevention, treatment, palliation of their injury or disease, and promoting their health.
            Medicine encompasses a variety of health care practices evolved to maintain and restore health by
            the
            prevention and treatment of illness.
            Contemporary medicine applies biomedical sciences, biomedical research, genetics, and medical
            technology
            to diagnose, treat, and prevent injury
            and disease, typically through pharmaceuticals or surgery, but also through therapies as diverse as
            psychotherapy, external splints and traction, medical devices, biologic, and ionizing radiation,
            amongst
            others.
            Medicine has been practiced since prehistoric times, during most of which it was an art (an area of
            skill and knowledge) frequently having connections to the religious and philosophical beliefs of
            local
            culture.
            For example, a medicine man would apply herbs and say prayers for healing, or an ancient philosopher
            and
            physician would apply bloodletting according to the theories of humorist. In recent centuries,
            since the advent of modern science, most medicine has become a combination of art and science (both
            basic and applied, under the umbrella of medical science). While stitching technique for sutures is
            an
            art learned through practice,
            the knowledge of what happens at the cellular and molecular level in the tissues being stitched
            arises
            through science. Scientific forms of medicine are now known as traditional medicine or folk
            medicine,
            which remains commonly used in the absence of scientific medicine, and are thus called alternative
            medicine. Alternative treatments outside scientific medicine having safety and efficacy concerns are
            termed quackery. Virtual Hospital interconnects villages in the developing world with their main
            county
            hospitals and hospitals in the West using Telemedicine.<br>
            Virtual Hospital is based on a traditional healthcare referral system where the patients’ medical
            information is collected by e-clinics in rural
            third world communities using a computer, or mobile phone and sent to a general medical practitioner
            (GP) based at the Virtual Hospital (Hub).
            The GP at the Hub then either provides a diagnosis, or refers the patient to the relevant Virtual
            Hospital Department where specialist consultants
            across the world are linked together through the Internet.<br>
            The work of Virtual Hospital is influenced to a great extent by reports published by the World
            Health
            Organization (WHO) on Telemedicine developments,
            American Telemedicine Association and the work of Zaidi et all 2004 and Denis Gilhooly Principal
            Adviser
            in the United Nations.
            According to WHO’s report on 'Telemedicine - Opportunities and Developments in Member States' :
            'Information and communication technologies have great
            potential to address some of the challenges met both developed and developing countries in providing
            accessible, cost effective high quality health care services.
            Telemedicine uses ICTs to overcome geographical barriers and increase access to healthcare services.
            This is particularly beneficial for rural and underserved
            communities in developing countries - groups that traditionally suffer form lack of access to
            healthcare.
        </p>
    </div>

    <div class="container">
        <div id="why_use">
            <div class="info_right">
                <h4>Why we will use Virtual Hospital?</h4>
                <ul>
                    <li><p>Considering the present situation virtual hospital is mostly useful for those who are
                        in
                        quarentine
                        due to covid and seek advise from the doctors.</p></li>
                    <li><p>Using this system records of the pateint's health can be maintained that would help
                        both
                        the
                        doctors
                        and paitents in other medical cases of the patient even for the patient with similar
                        cases.</p>
                    </li>
                    <li><p>The Pre determination of deseases can help the patients in primary treatment and can
                        also
                        keep the
                        patient mentally calm in cases of similar symptoms of small and harmful deseases like
                        covid,
                        flu, cold
                        etc.</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<style>
      .div-f {
      background-color: #FFFFFF;
      color: black
      }
</style>

{% endblock %}
