{% extends 'base.html' %}

{% block title %}
    Home Page!
{% endblock %}

{% block content %}

<div class="container div-f">
    <ol style="text-align:justify">
        <li style="font-size: 25px">
            <h4>
                <b>
                    Do I need to do a registration to avail any service at United Hospital?
                </b>
            </h4>
                <p style="font-size: 18px">
                    Yes, all patients are required to “Sign Up” first to avail any service at JVMH Hospital & the user will get 10000 TK as credit (once in lifetime).
                    Since all our patients’ information are stored as Electronic Medical Health Record, for availing any service like Doctors’ Consultation, Investigation,
                    Vaccination, Procedure, Dressing, Admission, etc the patient needs to “Sign Up” first to get a PID (patient identification) number.
                </p>
        </li>

        <li style="font-size: 25px">
            <h4>
                <b>
                    What are the requirements for signing up as a new user (As patient)?
                </b>
            </h4>
                <p style="font-size: 18px">
                    You need to give a username, email id (valid), age and set a password.
                </p>
        </li>

        <li style="font-size: 25px">
            <h4>
                <b>
                    Do you have any telephone facilities for the patients who are admitted in your hospital?
                </b>
            </h4>
                <p style="font-size: 18px">
                    Yes, we have telephone facilities for admitted patients only for some specific room categories.
                </p>
        </li>

        <li style="font-size: 25px">
            <h4>
                <b>
                    What are the phone numbers of your hospital for one should call during Emergency?
                </b>
            </h4>
                <p style="font-size: 18px">
                    To avail our emergency facility and ambulance service, please call in the following numbers:
                    Emergency Hotline (from any phone anywhere in the country): 10666
                    Ambulance:  01914 001234
                </p>
        </li>
    </ol>
    <br>
    <br>
</div>

<style>
    .div-f{
      background-color: #FFFFFF;
      color: black
    }

</style>

{% endblock %}
