{% extends 'base-2.html' %}

{% block title %}
    Sign in for Doctors!
{% endblock %}

{% block content %}
            <div class="card-header text-dark" style="text-align:center">
                <h1>SIGN IN NOW</h1>
            </div>

        <div class="container p-4" style="font-family:Times New Roman; text-align: center">

            <form method="POST" class="for-signin" style="color:black">
                {{ form.hidden_tag() }}

                <h4>  {{ form.username.label() }} {{ form.username(class="form-control", placeholder="User Name") }} </h4>

                <h4> {{ form.password.label() }}  {{ form.password(class="form-control", placeholder="Password") }} </h4>

                <br>
                {{ form.submit(class="btn btn-lg btn-block btn-success") }}
            </form>

        </div>

            <div class="card-footer text-dark" style="text-align:center">
                <h4 id="block-1">Haven't signed up yet?</h4>
                <div class="dropdown show" id="block-2">
                        <a class="btn btn-lg btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sign up
                        </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                	<a class="dropdown-item" href="{{ url_for('doctor_signup_page') }}">Sign up as a Doctor</a>
                                <a class="dropdown-item" href="{{ url_for('signup_page') }}">Sign up as a Patient</a>
                            </div>
                </div>
                <h4 id="block-3">now</h4>
            </div>

<style>
    .container {
       max-width: 30%;
}
#block-1, #block-2, #block-3
{
    display:inline;
}
</style>

{% endblock %}