<!-- Take Appointment -->

<div class="modal fade" id ="Modal-RemovePatientConfirm-{{ patient.id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{ patient.username }}
                </h5>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ removePatientForm.hidden_tag() }}

                    <h4 class="text-center">
                        Are you sure you want to remove patient {{ patient.username }} from your appointed patient List?
                    </h4>

                    <br>
                    <h6 class="text-center">
                        By clicking remove patient button, you will remove the patient from your appointed patient List.
                    </h6>
                    <input id="appointed_patient" name="appointed_patient" type="hidden" value="{{patient.username}}">
                    <br>
                    {{ removePatientForm.submit(class="btn btn-outline-success btn-block") }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>